<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <a href = "/">Home</a>
        <a href ="/addNewDeveloper">Insert New Developer|</a>
        <a href = "/getAllDeveloper">Get All Developers|</a>
        <a href = "/addNewTask">Insert New Task|</a>
        <a href = "/getAllTasks">Get All Tasks|</a>
        <a href = "/deleteAllCompletedTasks">Delete All Completed Tasks|</a>
        <a href= "/updateTask">Update Task</a>

        <form action="/deleteTask" method="POST">
            <div class="blank">
                <label>Task ID:<input type="text" name="ID"/></label></br></br>
                <button type= "submit">Submit</button>
            </div>
        </form>
    </body>
</html>