<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <img src="logo.JPG"></br>
        <a href ="/addNewDeveloper">Insert New Developer|</a>
        <a href = "/getAllDeveloper">Get All Developers|</a>
        <a href = "/addNewTask">Insert New Task|</a>
        <a href = "/getAllTasks">Get All Tasks|</a>
        <a href = "/deleteTask">Delete Task|</a>
        <a href = "/deleteAllCompletedTasks">Delete All Completed Tasks|</a>
        <a href= "/updateTask">Update Task|</a>
        <a href = "/newGet">New Get</a>
    </body>
</html>